
<img class="signin-bg" src="" alt="Main page">

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green darken-1">

      <div class="brand-logo">  
        <a href="" target="_blank">The News Scraper Gazette</a>
      </div>

      <ul class="right">
        <li><a class="btn waves-effect waves-light black hvr-sweep-to-bottom" href="/scrape"><i class="material-icons left">save_alt</i>Scrape Articles</a></li>
      </ul>

    </div>
  </nav>
</div> 

<section class="section mainContent">
  <div class="row">  
    <div class="container col l8 m6 s6 articleSection" style="margin-left: 5%">
        <div id="scraped-articles">

        </div>
    </div>
    <div class="container col l4 m6 s6 commentSection" style="right: 5%">
        <div id="notes">

        </div>
    </div>
  </div>
</section>