<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">MONGO SCRAPER</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">MENU</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a id="home" href="/">HOME</a></li>
            <li><a id="saved" href="/saved">Saved Articles</a></li>
            <li><a class="waves-effect waves-light btn" id="newScrape">SCRAPE ARTICLES</a></li>
            <li><a class="waves-effect waves-light btn" id="clearScrapedArticles">CLEAR ARTILCES</a></li>
        </ul>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">HOME</a></li>
    <li><a href="/saved">SAVED ARTICLES</a></li>
  </ul>

<div class="container">
<ul class="collapsible popout" id="scrapeResults">
    {{#each art}}
    {{/each}}
    </ul>

</div>

<script src="/js/index.js"></script>